.skills-descr {    
    max-width: 700px;
    width: 100%;
    margin-bottom: 50px;
}
.skills-descr h3, .work-exp h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.skills-descr p {
    font-size: var(--normal-font-size);
}

/* Education and Skills section */
.education-info {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 80px;
    gap: 20px;
}
.education-info .education {
    width: 33%;
    min-width: 320px;
}

.education .label {
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--second-color);
}

.education-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.education-list .item {
    margin-top: 15px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 6px;
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    transition: 0.3s linear;
}
.education-list .year {
    margin-bottom: 10px;
    font-size: var(--small-font-size);
    color: var(--first-color);
    font-weight: 500;
    display: block;
}
.education-list p {
    color: var(--third-color);
}

.education-info .skills {
    width: 65%;
    min-width: 320px;
}
.skills .label {
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--second-color);
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* 3 столбца одинаковой ширины */
    grid-template-rows: repeat(3, 150px);  /* 2 строки по 200px */
    gap: 20px; /* расстояние между ячейками */
    box-shadow: var(--box-shadow);
    padding: 20px 40px;
    border-radius: 6px;
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    transition: 0.3s linear;
    margin-top: 15px;
}

.skill-tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    height: 100%;
    margin-bottom: 20px;
}
.logo-wrapper {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
}
.tool-logo {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Work Experience section */

.experience-info {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 80px;
    gap: 20px;
}

.work-exp .experience-card {
    margin-top: 15px;
    box-shadow: var(--box-shadow);
    padding: 35px;
    border-radius: 6px;
    width: 32%;
    min-width: 320px;
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    transition: 0.3s linear;
}

.upper .experience-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.upper .experience-job-type {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-style: italic;
}

.upper span {
    color: var(--third-color);
}

.experience-card .hr {
    margin: 10px 0 22px;
    width: 100%;
    height: 2px;
    background-color: var(--liner-color);
}

.lower .label {
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--second-color);
}

.lower p {
    margin-top: 16px;
}



@media (max-width: 1028.99px) {
    .education-info {
        flex-direction: column;
        align-items: center;
    }
    .education-info .education, .education-info .skills {
        width: 100%;
        min-width: 0;
    }

    .education-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
.education-list .item {
        flex: 0 0 calc(50% - 8px);
    }

    .skills-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr)); /* 2 столбца одинаковой ширины */
        grid-template-rows: repeat(3, 150px);  /* 2 строки по 200px */
    }
    .experience-info {
        flex-direction: column;
        align-items: center;
    }
    .experience-info .experience-card {
        width: 100%;
        min-width: 0;
    }
    
}